.header {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    background: linear-gradient(90deg, #736161 1.18%, #d72323 100%);
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    color: white;
    font-family: 'Roboto', sans-serif

}
.headerLogo {
    display: flex;
    align-items: center;
}
.headerLogoImg {
    width: 50px;
    margin: 20px;
}

span {
    padding-right: 20px;
}

@media screen and (min-width: 380px) and (max-width: 1080px) {
    .header {
        display: flex;
        justify-content: space-between;
        /*border: solid black 1px;*/
        background: linear-gradient(90deg, #736161 1.18%, #d72323 100%);
        align-items: center;
        margin: 0 auto;
        width: 380px;
        height: 100px;
        color: white;
        font-family: 'Roboto', sans-serif
    }
    span {
        display: none;
    }
}